{% extends 'w_base_test2.html' %}

{% block content %}

    <h3>作業内容の編集</h3>   

<form action="/edit/w_itemlist/{{id}}" method="POST">
    <!-- 上のaction, method は送り先 -->
    <div class="Form">
        <div class="Form-Item">
            <input type="hidden" value="{{task_list['taskid']}}" name = "taskid">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>アイテム</p>
            <input type="text" name="item" value="{{task_list['item']}}" class="Form-Item-Input">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>製造日</p>
            <input type="date" name="pro_date" value="{{task_list['pro_date']}}" class="Form-Item-Input">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>製造番号</p>
            <input type="text" name="pro_number" value="{{task_list['pro_number']}}" class="Form-Item-Input">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>使用開始日</p>
            <input type="date" name="set_date" value="{{task_list['set_date']}}" class="Form-Item-Input">
        </div>
        <div>
            <!-- <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>作業実施日</p> -->
            <input type="hidden" name="t_date" value="{{task_list['t_date']}}" class="Form-Item-Input">
        </div>
        <div>
            <!-- <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>作業内容</p> -->
            <input type="hidden" name="task" value="{{task_list['task']}}" class="Form-Item-Input">
        </div> 
        <div>
            <!-- <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>次回通知</p> -->
            <input  type="hidden" name="notice" value="{{task_list['notice']}}" class="Form-Item-Input">
        </div>
        <div>
            <!-- <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>通知要否<br>要/1:不要or済み</p> -->
            <input name="nt_id" type="hidden" value="0" class="Form-Item-Input">
        </div>
    </div>
        <p><input type="submit" value="送信" class="btn1"></p>
</form>

<div class="btn_top1">
    <a href="/" type="button" class="btn5">トップに戻る</a>
</div>  

{% endblock %}