{% extends 'w_base_test2.html' %}
{% block content %}

<h2>"{{room}}"の"{{item}}"保守記録</h2>

<table class="table_list" width="80%">      
    <thead>
        <tr>
            <!-- <th>番号</th> -->
            <th>アイテム</th>
            <!-- <th>製造日</th>
            <th>製造番号</th>
            <th>使用開始日</th> -->
            <th>作業日</th>
            <th>作業内容</th>
            <th>次回通知</th>
            <th>通知</th>
            <th></th>

        </tr>
    </thead>
    {% for item in w_task_list %}
    <tbody>
        <tr>
            <th label="アイテム"><p>{{item["item"]}}</p></th>
            <!-- <td label="製造日　"><p>{{item["pro_date"]}}</p></td>
            <td label="製造番号"><p>{{item["pro_number"]}}</p></td>
            <td label="使用開始"><p>{{item["set_date"]}}</p></td> -->
            <td label="作業日　"><p>{{item["t_date"]}}</p></td>
            <td label="作業内容"><p>{{item["task"]}}</p></td>
            <td label="次回通知"><p>{{item["notice"]}}</p></td>
            <td label="通知"><p>{{item["nt_id"]}}</p></td>
            <td>
                <div class="btn_top">
                    <a href="/edit/w_tasklist/{{id}}/{{item['taskid']}}" class="btn4">編集</a>
                    <a href="/del/w_tasklist/{{id}}/{{t_id}}/{{item['taskid']}}" onclick="return confirm('削除しますか？')" class="btn4">削除</a>
                </div>
            </td>
        </tr>
    </tbody>

    {% endfor %}

</table>

<form action="/add/w_tasklist/{{id}}/{{t_id}}" method="POST">
    <!-- 上のaction, method は送り先 -->
        <h3>作業内容追加</h3>

    <div class="Form">
        <div>
            <!-- <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>アイテム</p> -->
            <input type="hidden" value="{{t_id}}" name = "t_id">
            <input type="hidden" value="{{item}}" name = "item"  class="Form-Item-Input" list="item_list" placeholder="optionクリックもしくはテキスト入力" autocomplete="off">
            <!-- <datalist class="Form-Item-Input" id="item_list">
                <option value="換気扇">換気扇</option>
                <option value="ストーブ">ストーブ</option>
                <option value="湯沸かし">湯沸かし</option>
                <option value="ボイラー">ボイラー</option>
                <option value="キッチン回り">キッチン回り</option>
                <option value="扇風機">扇風機</option>
                <option value="網戸">網戸</option>
                <option value="タイマー">タイマー</option>
                <option value="照明">照明</option>
                <option value="消防器具">消防器具</option>
                <option value="風呂配管">風呂配管</option>
            </datalist> -->
        <!-- </div>  -->
        <!-- <div>
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>製造日　</p>
            <input type="hidden" value="{{item['pro_date']}}" name="pro_date" class="Form-Item-Input" placeholder="例）2021-1-23">
        </div> -->
        <!-- <div>
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>製造番号</p>
            <input type="hidden" value="{{item['pro_number']}}" name="pro_number" class="Form-Item-Input" placeholder="例）1111">
        </div> -->
        <!-- <div>
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>使用開始</p>
            <input type="hidden" value="{{item['set_date']}}" name="set_date" class="Form-Item-Input" placeholder="例）2021-1-23">
        </div> -->
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>作業日</p>
            <input type="date" name="t_date" class="Form-Item-Input" placeholder="例）2021-1-23">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>作業内容</p>
            <input type="text" name="task"  class="Form-Item-Input" list="task_list" placeholder="optionクリックもしくはテキスト入力" autocomplete="off">
            <datalist class="Form-Item-Input" id="task_list">
                <option value="点検">点検</option>
                <option value="分解掃除">分解掃除</option>
                <option value="フィルター交換">フィルター交換</option>
                <option value="内部清掃">内部清掃</option>
                <option value="カビ取り">カビ取り</option>
                <option value="夏タイヤに交換">夏タイヤに交換</option>
                <option value="冬タイヤに交換">冬タイヤに交換</option>
                <option value="オイル交換">オイル交換</option>
                <option value="車検">車検</option>
                <option value="壁補修、塗装">壁補修、塗装</option>
            </datalist>
        </div>       
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>次回通知</p>
            <input name="notice" type="date" class="Form-Item-Input" placeholder="例）2021-1-23">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>通知要否<br>0:set/1:done</p>
            <input name="nt_id" type="integer" value="0" class="Form-Item-Input">
        </div>
    </div>

<div>  
    <button type="submit" class="btn1">新規追加</button>
</div> 

</form>

<!-- <div class="btn_top">
    <a href="/list/uti" class="btn4">＜＜おうちごとリスト</a>
    <a href="/list/soto" class="btn4">＜＜おそとごとリスト</a>
</div>             -->

<div class="btn_top1">
    <a href="/" type="button" class="btn5">トップに戻る</a>
</div>

{% endblock %}